{% extends "routesaver/layout.html" %}
{% load static %}
{% block body %}
<!-- input -->
<div class="fluid-container">
 <!-- display company details -->
  <div class="flex-container border-bottom" id="company-details"></div>
  <div class="col-12 p-0 m-0 mx-auto border-bottom">
    <form method="post" action="{% url 'upload_file' %}">
      <input type="hidden" value="{{ company_id }}" name="company-id">
      <input type="submit" class="btn btn-outline-secondary w-100"  value="Upload Image">
    </form>
  </div>
  <div class="flex-container border-bottom" id="company-images"></div>
  <script>
    company('{{ company_id }}');
  </script>
      
{% endblock %} 