{% extends "routesaver/layout.html" %}
{% load static %}

{% block body %}
<h3>Upload File</h3>
<form class="border" id="add-file-form" action="/file/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <th></th>
        <td>
        <select class="form-control" name="company-id" id="select-company-name">
        <option value="none">Select Company</option>
        {% for company in company_list %}
            <option value="{{ company.id }}">{{ company.name }}</option>
        {% endfor %}
        </select>
        </td>
    {{ file_upload_form.as_table }}
    <th></th>
    <td><input class="float-right" type="submit" value="upload" /></td>  
    </table>
    
    <div class="feedback text-right border-top w-100 mt-2">{{ feedback}}</div>
    <div class="clearboth"></div>
</form>

{% if company_id %}
      <script>
        document.querySelector('#select-company-name').value = "{{ company_id }}";
      </script>
  {% endif %}
{% endblock %} 