{% extends "routesaver/layout.html" %}
{% load static %}

{% block body %}
<!-- display help text for the page that is logged in and open-->
<div class="card">
    <div class="card-header">Introduction</div>
    <div class="card-body">
        <p class="card-text">How the app works. Create a route from companies that have addresses attached on the relative pages. Load an origin address and select a route. 
            Origins are always first and last. And skipped if part of the route. A preview of the route can be viewed in  a modal
            window. No 1 marker is the first destination. The last is the origin as all routes return to origin.
        </p>
    </div>
</div>
<!-- opens minimised  when script is enabled -->
<!-- <div id="help-cards"> -->
<div class="card">
    <div class="card-header">Load Route</div>
    <div class="card-body">
        <p class="card-text">Routes are a collection of company addresses that first have to be added on the address and companies menu. Then is calculated for a most effecienct outcome using Google libraries based on travelling saleperson model. Some Google maps options can be used to vary the outcome. Tolls and Travel Model. Tolls avoid/not. Travel mode settings return calculations based on history contained in the Google system that allows for a range of scenarios. As with Google maps leaving time can be set otherwise the default is 'now'. 
    </div>
</div>
<div class="card">
    <div class="card-header">Addresses</div>
    <div class="card-body">
        <p class="card-text">Addresses when added can be used by all users. Addresses are added by using Google places to verify the address.</p>
    </div>
</div>
<div class="card">
    <div class="card-header">Routes</div>
    <div class="card-body">
        <p class="card-text">Routes are saved for each user. Routes are just a colletion of addresses. No calculations are made during this point. A map with pins 
            allows for simple feedback for example if an address was in the wrong country. Or outside an expected area.
        </p>
    </div>
</div>
<div class="card">
    <div class="card-header">Companies</div>
    <div class="card-body">
        <p class="card-text">Companies is for site knowledge. Contact. Images of access. Site maps. And instructions. As a platform this 
            data I thought would be very valueable to capture. Especially knowledge that could easily be lost with individuals.
        </p>
    </div>
</div>
<div class="card">
    <div class="card-header">Upload</div>
    <div class="card-body">
        <p class="card-text"> 
            For this file allows images related to company sites to be uploaded.
        </p>
          
    </div>
</div>
<div class="card">
    <div class="card-header">Log</div>
    <div class="card-body">
        <p class="card-text"> 
            A list of downloadable csv files saved on route execution. 
        </p>
    </div>
</div>
<!-- </div> -->
<!-- <script>
//
function show_hide(item) {
  
  if (item.style.display === "none") {
    item.style.display = "block";
  } else {
    item.style.display = "none";
  }
}
var card_elements = document.querySelector('#help-cards');
all_cards = card_elements.querySelectorAll('.card');

const button = document.createElement('button');
button.className = "float-right";
button.innerHTML = "x";
// add show/hide button
all_cards.forEach(element => {
    const button = document.createElement('button');
    button.className = "float-right";
    button.innerHTML = "x";
    var card_body = element.querySelector('.card-body');
    button.onclick = function() {
        show_hide(card_body);
    };
    card_body.style.display = "none";
    element.querySelector('.card-header').append(button);
    console.log(element.querySelector('.card-body'));
});
</script> -->
{% endblock %}