{% extends "routesaver/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
{% if company_list %}
<div class="container-fluid">
  <div class="row">
    
    <div class="tolls col-lg-2 col-md-3 input-group-text">
      <div class="row mx-auto">
          <div class="label pr-2">Avoid Tolls</div>
          <input type="checkbox" id="tolls" name="tolls" checked/>
      </div>
    </div>
    <div class="radio-buttons col-lg-6 col-md-9 input-group-text">
      <div class="row mx-auto">
      <div class="label pr-2">Travel Model:</div>
      <input type="radio" id="best-guess" name="travel-model" value="best_guess" checked>
      <div class="label pl-1 pr-2" for="best-guess">Best Guess</div>
      <input type="radio" id="pessimistic" name="travel-model" value="pessimistic">
      <div class="label pl-1 pr-2" for="pessimistic">Pessimistic</div>
      <input type="radio" id="optimistic" name="travel-model" value="optimistic">
      <div class="label pl-1 pr-2" for="optimistic">Optimistic</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 input-group-text">
      <div class="row mx-auto">
      <div class="label pr-1">Depart:</div>
      <input id="date-picker"/>
    </div>
    </div>

  </div>
</div>
<div class="flex-container">
    <!-- load route to select -->
  {% if routes %}
  <form class="input-group">
    {% csrf_token %}
    <!-- load addresses for selection -->
    <div class="input-group-prepend">
      <label class="input-group-text">Select:</label>
    </div>
    <select class="custom-select" id="select-start" onchange="set_start_address(this)">
      <option value='0'>1: Start Address</option>
      {% for company in company_list %}
          {% if company.address.address1 != null %}
          <option value='{{ company.address.place_id }}'>{{ company.name }} : {{ company.address.address1 }}</option>
          {% endif %}
      {% endfor %}
    </select>
    <select class="custom-select" id="select-route" onchange="load_route_addresses('index', this.value)" disabled>
      <option value='0'>2: Route</option>
      {% for route in routes %}
        <option value='{{route.id}}'>{{route.route_name}}</option>
      {% endfor %}
    </select>
    <button class="btn btn-primary float-right" id="preview-button" disabled>Preview</button>
   </form>
  {% else %}
  <h6 class="text-center p-3">Currently no routes created!</h6>
  {% endif %}
</div>
<div class="container input-group-text mt-3 mb-3 bg-light" id="stats">
  <div class="row p-2">
    <div class="col-3">
      <table class="table table-bordered text-left">
        <thead>
          <tr>
            <th class="text-center" scope="col" colspan="2">Start</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Time</th>
            <td ><span id="start-time"></span></td>
          </tr>
          <tr>
            <th scope="row">Date</th>
            <td><span id="start-date"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6 text-center">
      <table class="table table-bordered text-left">
        <thead>
          <tr>
            <th class="text-center" scope="col" colspan="2">Statistics</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Road Time</th>
            <td ><span id="total-road-time"></span></td>
          </tr>
          <tr>
            <th scope="row">Stopovers</th>
            <td><span id="total-stop-time"></span></td>
          </tr>
          <tr>
            <th scope="row">Combined Travel Time</th>
            <td ><span id="total-combined-travel-time"></span></td>
          </tr>
          <tr>
            <th scope="row">Distance (kms)</th>
            <td ><span id="total-distance"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3 text-left">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col" colspan="2">Finish</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Time</th>
            <td ><span id="finish-time"></span></td>  
          </tr>
          <tr>
            <th scope="row">Date</th>
            <td><span id="finish-date"></span></td>       
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container input-group-text h-2" id="start">
  <table class="table table-bordered text-left">
    <thead>
      <tr>
        <th class="text-center" scope="col" colspan="6">
        <span class="material-icons float-left">maps_home_work</span>Route Origin</th>
        <span id="start-address" hidden></span>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Company</th>
        <td scope="row" ><span id="company-display"></span></td>  
        <th scope="row">Address</th>
        <td scope="row"><span id="start-address-display"></span></td>       
        <th scope="row">Route</th>
        <td scope="row"><span id="route-display"></span></td>       
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
{% else %}
      <p>Currently no addresses</p>
{% endif %}
<!-- display section -->
<!-- placeholder for rendering addresses in active route -->  
<div id="active-route">
  <div class="homepage-banner" id="homepage-banner">
    <p class="text-center text-danger">Add Addresses -> Create Companines with an Address -> Create Route and add Companies</p>
  </div>
</div>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCazYnxjbQJQ_LwrIYGy2PHwxrTASV0X6g&callback=initMap&libraries=places&v=weekly" async></script>
<!-- display route map with waypoints in modal window-->
<div id="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Route Map</h2>
      <span class="close">&times;</span>
    </div>
    <div id="map"></div>
  </div>
</div>
<script src="/static/js/active-route.js"></script>
<script src="/static/js/active-route-map-pins.js"></script>
{% endblock %}