{% extends "routesaver/layout.html" %}
{% load static %}

{% block body %}
<!-- input -->
<div class="flex-container">
  <div class="row border-bottom pt-2 pb-1">
    <div class="col-4">
   <h3>Company Details</h3>
    </div>
    <div class="col-8">
  </div>
  </div>
 <!-- display company details -->
 <h3>Display Company</h3>
  <form>
    {% csrf_token %}
    <!-- company list of addresses wo company details attached -->
    <select id="select-company-id" onchange="company()">
      <option value="none">Display Company</option>
    {% for company in company_list %}
        <option value="{{ company.id }}">{{ company.name }}</option>
    {% endfor %}
    </select>
  </form>
  <div class="flex-container border mb-2" id="company-details"></div>
  <div class="flex-container border" id="company-images"></div>

  {% if company_id %}
      <script>
        document.querySelector('#select-company-id').value = '{{ company_id }}';
        company();
      </script>
  {% endif %}

{% endblock %} 